@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f6f9ff;
    
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: orangered;
}

main .alternative span::after {
    left: 50px;
}

.social-media {
    padding: 0.4rem;
    border-radius: 8px;
    font-size: 0.85rem;
    margin-top: 1rem;
    cursor: pointer;
}

.social-media a {
    text-decoration: none;
    color: white;
}

.social-media a i {
    margin: 0 0.5rem;
    width: 15px;
}

.social-media.google {
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.social-media.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
    border-radius: 8px;
    border: 1px solid #040b18;
}

main form input[type="submit"] {
    cursor: pointer;
    margin-top: 2rem;
    border: none;
    background: #6c63ff;
    color: white;
    transition: .5s;
}

main form input[type="submit"]:hover {
    background: #5952d4;
}